.input {
    padding: 0;
    word-wrap: break-word;
    outline: none;
    font: 14px arial,sans-serif;        
    color: rgba(0,0,0,.87);        
    display: flex; 
    border: none;    
    width: 100%;
}

.searchField {    
    font: 14px arial,sans-serif;        
    display: flex;
    border: 1px solid #dfe1e5;
    color: rgba(0,0,0,.87);        
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;    
    height: 34px;
    padding: 0px 20px;    
}

.searches {
    margin-top: 20px;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 10px;
}

.error {
    padding-left: 10px;
    font: 14px arial,sans-serif;    
    font-size: 14px;
}